<form id="form-flutterwave">
  <style>
  .btn-flutterwave {
    padding-left: 1.6rem;
    padding-right: 1.7rem;
    background-color: #14132b;
    color: #fff;
  }
  .btn-flutterwave:hover {
    color: #fff;
    background-image: linear-gradient(to right,#14132b, #684c15);
  }
  </style>
  <script src="https://checkout.flutterwave.com/v3.js"></script>
  <button id="btn-flutterwave"  type="submit" class="btn btn-flutterwave">
    <div class="d-flex align-items-center justify-content-center" style="gap: 1rem;">
      <div>
        <%= inline_svg_tag "flutterwave_logo.svg", size: "48px*48px" %>
      </div>
      <span>Pay Now</span>
    </div>
  </button>
</form>
<h1><%= current_store.default_country %></h1>
<script>
  const button = document.querySelector("#btn-flutterwave");

  button.addEventListener("click", makePayment)

  function makePayment(event) {
    event.preventDefault()

    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
      tx_ref: "<%= @order.number %>",
      amount: "<%= @order.total %>",
      currency: "<%= @order.currency %>",
      country: "<%= current_store.default_country %>",
      payment_options: "mpesa",
      redirect_url: "<%= request.base_url %>/flutterwave/payment",
      customer: {
        email: "<%= @order.user.email %>"
      },
      callback: function (data) {
        console.log(data);
      },
      onclose: function() {
      },
      customizations: {
        title: "<%= current_store.name %>",
        logo: "",
      },
    });
  }
</script>