<div class="payment-gateway">

  <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div class="payment-gateway-fields">
      <%= hidden_field_tag "#{param_prefix}[transaction_id]", '', id: "flw_transaction_id", value: "FLW_DUMMY_TX_ID" %>
      <%= hidden_field_tag "#{param_prefix}[transaction_ref]", '', id: "flw_transaction_ref", value: @order.number %>
      <%= hidden_field_tag "#{param_prefix}[status]", '', id: "flw_status", value: "successful" %>
      <%= hidden_field_tag "#{param_prefix}[payment_method]", '', id: "flw_payment_method" %>
    </div>
</div>
<h1><%=Spree::PermittedAttributes.source_attributes%></h1>
<div id="form-flutterwave">
  <style>
  .btn-flutterwave {
    padding-left: 1.6rem;
    padding-right: 1.7rem;
    background-color: #14132b;
    color: #fff;
  }
  .btn-flutterwave:hover {
    color: #fff;
    background-image: linear-gradient(to right,#14132b, #684c15);
  }
  </style>
  <script src="https://checkout.flutterwave.com/v3.js"></script>
  <button id="btn-flutterwave"  type="submit" class="btn btn-flutterwave">
    <div class="d-flex align-items-center justify-content-center" style="gap: 1rem;">
      <div>
        <%= inline_svg_tag "flutterwave_logo.svg", size: "48px*48px" %>
      </div>
      <span>Pay Now</span>
    </div>
  </button>
</div>
<script>
  const button = document.querySelector("#btn-flutterwave");

  button.addEventListener("click", makePayment)

  function makePayment(event) {
    event.preventDefault()

    FlutterwaveCheckout({
      public_key: "<%= payment_method.preferred_public_key %>",
      tx_ref: "<%= @order.number %>",
      amount: "<%= @order.total %>",
      currency: "<%= @order.currency %>",
      country: "<%= current_store.default_country.iso %>",
      customer: {
        email: "<%= @order.user.email %>"
      },
      callback: function (data) {
        document.querySelector('#flw_transaction_id').value = data.transaction_id
        document.querySelector('#flw_transaction_ref').value = data.tx_ref
        document.querySelector('#flw_status').value = data.status
      },
      onclose: function() {
      },
      customizations: {
        title: "<%= current_store.name %>",
        logo: "https://olitt.b-cdn.net/static/media/olitt-logo-secondary.de8fee27.svg",
      },
    });
  }
</script>