<fieldset data-id="credit-card">
  <div id="card_form<%= payment_method.id %>" class="mt-3 row" data-hook>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>
    <%= hidden_field_tag "#{param_prefix}[transaction_ref]", @order.number %>
    <%= hidden_field_tag "#{param_prefix}[status]", 'pending' %>
    <div data-hook="flw_tx_id" class="form-group col-12">
      <%= label_tag "flw_tx_id#{payment_method.id}", raw(Spree.t(:transaction_id) + required_span_tag) %>
      <%= text_field_tag "#{param_prefix}[transaction_id]", '', id: "flw_tx_id#{payment_method.id}", class: 'required form-control', maxlength: 19 %>
    </div>
  </div>
</fieldset>
